<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>poppins_semi_bold.ttf</string>
		<string>ruddy_regular.ttf</string>
		<string>ruddy_bold.ttf</string>
		<string>ruddy_black.ttf</string>
		<string>quicksand_bold.otf</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>dinoreaders.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone for voice recognition.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We need access to speech recognition for text-to-speech.</string>
</dict>
</plist>
